@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.link {
		@apply cursor-pointer hover:underline;
	}

	.button {
		@apply p-2 font-medium text-xs text-center md:text-sm bg-gradient-to-b rounded-sm focus:outline-none;
	}

	.button-active-color {
		@apply from-yellow-200 to-yellow-400 border border-yellow-300 focus:ring-yellow-500 active:from-yellow-500 focus:ring-2;
	}

	.button-disabled-color {
		@apply from-gray-300 to-gray-500 border-gray-200 text-gray-300 cursor-not-allowed;
	}
}
